<%= link_to new_order_path, class: "btn btn-primary btn-lg border-primary text-white shadow-sm w-space-nw d-flex align-items-center" do %>
  <span class="d-block mr-2">New Order</span>
  <i class="fas fa-plus"></i>
<% end %>