@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$white: white;
$black: #19191f;
$bg-default: #f6f7f8;
$bg-dark: #dde0e5;

.navbar {
  margin-bottom: 0;
}

.navbar {
  .fa-cubes {
    font-size: 3rem;
    top: 0;
    left: 0;
  }

  .navbar-brand {
    align-items: center;
    height: 42px;
    justify-content: center;
    width: 42px;
  }
}

.d-shrink-1 {
  flex-shrink: 1;
}

.w-space-nw {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.min-50 {
  flex-shrink: 1;
  min-width: 50%;
}

.max-40 {
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-50 {
  width: 50% !important;
}

.bg-custom {
  background-color: $bg-default;
} 

.table {
  thead th {
    padding: 16px !important;
    text-align: center;
  }
  th, td {
    padding: 0 !important;
  }
  tbody tr:hover {
    .table-child {
      background-color: $bg-default !important;
    }
  }
}

.table-child {
  align-items: center;
  border-top: 1px solid $bg-dark;
  border-bottom: 1px solid $bg-dark;
  color: $black !important;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 57px;
  width: 100%;
}

.table-child--left {
  border-left: 1px solid $bg-dark;
}

.table-child--right {
  border-right: 1px solid $bg-dark;
}

.btn-state {
  min-width: 86px;
}

.title-row {
  margin-top: 80px;
  h1 {
    color: $black;
  }
}

.form-row-md {
  max-width: 600px;
}

body {
  background-color: $bg-default;
  color: $black;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
  color: $white;
}

a:visited {
  color: $black;
}

.jumbotron {
  background: #0048CD;
  color: $white;
  text-align: center;
  p {
    color: $white;
    font-size: 26px;
  }
}

.link {
  color: $white;
}

.btn-primary {
  color: $white;
  border-color: $white;
  margin-bottom: 5px;
}

.btn-sm {
  background-color: $white;
  display: inline-block;
}

img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}

caption {
  float: left;
  clear: both;
}